doctype html
html
  head
    meta(charset='utf-8')
    title y
    link(href='/css/app.387f357ef19b867c14b98abd1cfcc26c.css' rel='stylesheet')
  body
    app
    script(type='text/javascript' src='/js/manifest.b6b443730ad8cb898ef5.js')
    script(type='text/javascript' src='/js/vendor.9ecb1ec17a626fd34390.js')
    script(type='text/javascript' src='/js/app.ae91c8fe4e7394683431.js')
